{% extends 'base.html' %}
{% load i18n %}

{% block sidebar %}
    <div class="well">
        <h4>{% trans "News Search" %}</h4>
        <form class="input-group" action="" method="get">
            <input type="text" name="q" class="form-control" value="{{ query }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>{% trans "Search" %}
            </button>
            </span>
        </form>
        <!-- /.input-group -->
    </div>
{% endblock %}

