{% extends 'newsroom/base.html' %}
{% load i18n %}
{% load has_group %}

{% block content %}
    {% for news in newsList %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'news' news_id=news.id slug=news.title|slugify %}"><h1>{{ news.title }}</h1></a>
                <div class="row">
                    <div class="col-md-10">
                        <p><span
                                class="glyphicon glyphicon-time"></span> {{ news.published_date }} {% trans "by" %} {{ news.author }}
                        </p>
                    </div>
                    <div class="col-md-2 text-right">
                        {% if user|has_group:'Newsman' or user.is_superuser %}
                            <a href="{% url "admin:newsroom_news_change" news.id %}"
                               class="btn btn-default"><span
                                    class="glyphicon glyphicon-edit"></span></a>
                            <a href="{% url "admin:newsroom_news_delete" news.id %}"
                               class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% if news.image %}
                    <img class="cover-img" src="{{ news.image.url }}" alt="">
                {% endif %}
                <hr>
                <p class="lead">{{ news.excerpt|striptags }}</p>
            </div>
        </div>
    {% endfor %}

    {% if newsList.has_other_pages %}
        <ul class="pagination">
            {% if newsList.has_previous %}
                <li><a href="?page={{ newsList.previous_page_number }}&{{ parameters }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in newsList.paginator.page_range %}
                {% if newsList.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}&{{ parameters }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if newsList.has_next %}
                <li><a href="?page={{ newsList.next_page_number }}&{{ parameters }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock content %}
