{% extends 'newsroom/base.html' %}
{% load i18n %}
{% load has_group %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{ news.title }}</h1>
            <div class="row">
                <div class="col-md-10">
                    <p><span
                            class="glyphicon glyphicon-time"></span> {{ news.published_date }} {% trans "by" %} {{ news.author }}
                    </p>
                </div>
                <div class="col-md-2 text-right">
                    {% if user|has_group:'Newsman' or user.is_superuser %}
                        <a href="{% url "admin:newsroom_news_change" news.id %}"
                           class="btn btn-default"><span
                                class="glyphicon glyphicon-edit"></span></a>
                            <a href="{% url "admin:newsroom_news_delete" news.id %}"
                               class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-body">
            {% if news.image %}
                <img class="cover-img" src="{{ news.image.url }}" alt="">
            {% endif %}
            <hr>
            <p class="lead">{{ news.text|safe }}</p>
            <div class="col-md-8 col-md-push-1 fb-comments"></div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '145635795929329',
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>(
        function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8&appId=145635795929329";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}