{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  <div class="form-group">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="{% trans 'Submit' %}" />
  </div>
</form>
{% endblock %}
