{% extends "admin/index.html" %}
{% load stat_tags %}
{% load i18n %}

{% block sidebar %}
    {{block.super}}
    <div>
        <h1>{% trans "Statistics" %}</h1>
        <p>{% trans "Total news" %}: <b>{% total_news %}</b></p>
        <p>{% trans "Total galleries" %}: <b>{% total_galleries %}</b></p>
        <p>{% trans "Total gallery images" %}: <b>{% total_gallery_imges %}</b></p>
    </div>
{% endblock %}