{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Contact us!" %}
        </div>
        <div class="panel-body">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}

            <form class="form-horizontal col-md-8 col-md-push-2" action="" method="post" id="contact_form">
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock content %}
