{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block css %}
    <link href="{% static 'css/ekko-lightbox.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'js/ekko-lightbox.min.js' %}"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock %}


{% block sidebar %}
    <div class="well">
        <h4>{% trans "Gallery Search" %}</h4>
        <form class="input-group" action="" method="get">
            <input type="text" name="q" class="form-control" value="{{ query }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>{% trans "Search" %}
            </button>
            </span>
        </form>
        <!-- /.input-group -->
    </div>
{% endblock %}
