{% extends 'gallery/base.html' %}
{% load i18n %}
{% load has_group %}

{% block content %}
    {% for gallery in galleryList %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'gallery' gallery_id=gallery.id slug=gallery.title|slugify %}">
                    <h1>{{ gallery.title }}</h1></a>
                <div class="row">
                    <div class="col-md-10">
                        <p><span
                                class="glyphicon glyphicon-time"></span> {{ gallery.published_date }} {% trans "by" %} {{ gallery.author }}
                        </p>
                    </div>
                    <div class="col-md-2 text-right">
                        {% if user|has_group:'Photographer' or user.is_superuser %}
                            <a href="{% url "admin:gallery_gallery_change" gallery.id %}"
                               class="btn btn-default"><span
                                    class="glyphicon glyphicon-edit"></span></a>
                            <a href="{% url "admin:gallery_gallery_delete" gallery.id %}"
                               class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% for gallery_image in gallery.galleryimage_set.all|slice:":3" %}
                    <div class="col-md-4">
                        <a href="{{ gallery_image.image.url }}" data-toggle="lightbox"
                           data-gallery="gallery-{{ gallery.id }}">
                            <img src="{{ gallery_image.image.url }}" class="img-responsive cover-img">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!--<p class="lead">{{ gallery.excerpt|striptags }}</p>-->
    {% endfor %}

    {% if galleryList.has_other_pages %}
        <ul class="pagination">
            {% if galleryList.has_previous %}
                <li><a href="?page={{ galleryList.previous_page_number }}&{{ parameters }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in galleryList.paginator.page_range %}
                {% if galleryList.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}&{{ parameters }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if galleryList.has_next %}
                <li><a href="?page={{ galleryList.next_page_number }}&{{ parameters }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock content %}
