{% extends 'gallery/base.html' %}
{% load i18n %}
{% load has_group %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{ gallery.title }}</h1>
            <div class="row">
                <div class="col-md-8">
                    <p><span class="glyphicon glyphicon-time"></span> {{ gallery.published_date }} {% trans "by" %} {{ gallery.author }}</p>
                </div>
                <div class="col-md-4 text-right">
                    {% if user|has_group:'Photographer' or user.is_superuser %}
                            <a href="{% url "admin:gallery_gallery_change" gallery.id %}"
                               class="btn btn-default"><span
                                    class="glyphicon glyphicon-edit"></span></a>
                            <a href="{% url "admin:gallery_gallery_delete" gallery.id %}"
                               class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                    <form style="display: inline-block" method="get" action="">{% csrf_token %}
                        <button type="submit" class="btn">
                            <span class="glyphicon glyphicon-th"></span>
                        </button>
                        <input type="hidden" name="grid" value="4"/>
                    </form>
                    <form style="display: inline-block" method="get" action="">{% csrf_token %}
                        <button type="submit" class="btn">
                            <span class="glyphicon glyphicon-th-large"></span>
                        </button>
                        <input type="hidden" name="grid" value="3"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for gallery_image in gallery.galleryimage_set.all %}
                    <div class="col-md-{% if grid == 4 %}3{% else %}4{% endif %}">
                        <a href="{{ gallery_image.image.url }}" data-toggle="lightbox" data-gallery="gallery-{{ gallery.id }}">
                            <img src="{{ gallery_image.image.url }}" class="img-responsive cover-img">
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:grid %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
            <div class="col-md-8 col-md-push-1 fb-comments"></div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '145635795929329',
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>(
        function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8&appId=145635795929329";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}