{% load staticfiles %}
{% load i18n %}
{% load stat_tags %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans "Newsroom and galleries" %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'news_list' %}">News-galleries</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'news_list' %}">{% trans "Newsroom" %} <span class="badge">{% total_news %}</span></a>
                </li>
                <li>
                    <a href="{% url 'gallery_list' %}">{% trans "Galleries" %} <span class="badge">{% total_galleries %}</span></a>
                </li>
                <li>
                    <a href="{% url 'contact_us' %}">{% trans "Contact us" %}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                {% if user.is_staff %}
                    <li>
                        <a href="{% url 'admin:index' %}">{% trans "Dashboard" %}</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            {% block content %}
            {% endblock %}
        </div>

        <div class="col-md-4 visible-lg">
            <div class="sidebar-nav-fixed affix pull-right sidebar">
                {% block sidebar %}
                {% endblock %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>{% trans "Language" %}</h1>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" action="{% url 'set_language' %}"
                              method="post">{% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" name="next" type="hidden" value="{{ redirect_to }}"/>
                                <select class="form-control" name="language">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                                selected="selected"{% endif %}>
                                            {{ language.name_local }} ({{ language.code }})
                                        </option>
                                    {% endfor %}
                                </select>
                                <input class="btn btn-default" type="submit" value="{% trans "Change" %}"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>&copy; Patryk Antkowiak 113983</p>
            </div>
        </div>
    </footer>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
